#body{
	background-color: #c0c0c0;
}

#wrap{
	width: 971px;
	/*가운데 정렬을 위한 바깥쪽 여백 설정*/
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

#mu{
	font-size: 20px;
	font-weight: bold;
}

#deltd tr td{
	background-color: white;
}

.list{
	width: 100%;
}

.record{
	background-color: white;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}

h1{
	/*글 색상*/
	color: white;
	font-size: 50px;
	background-color: black;
}

table td, th{
	border: #d3d3d3 solid 1px;
	padding: 5px;
}

#wrap_table td, th{
	background: #dedede;
}

th{
	background: black;
	color:white;
	font-size: 20px;
	font-weight: bold;
}

img{
	width: 220px;
	height: 300px;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	background-color: black;
	color: yellow;
}
